
#hr_topo{border-bottom:3 solid #ddd;width: 68%;float: left;height: 42px;background-color: transparent;}
#logo_topo{float: right;margin-left: 10px;}

#cabecalho_internas{position: relative;width: 100%;border-bottom: 3px solid #ddd}
#logo_topo_interna{width: 224px;float: left;margin: 0;padding: 0}
#logo_topo_interna img{margin: 0;padding: 0}
#secao_interna{color: #ff0000;float: right;text-align: right;}
#secao_interna p{font-weight: bold;vertical-align: bottom; padding-top: 35px;padding-bottom: 0px;margin-bottom: 0;}


#footer{border-top:3px solid #ddd;margin: 0; padding: 5px 0 0 0;height: 10px}
#footer p{text-align: center;padding: 0;margin: 0;font-size: 12px;line-height: 0px}

#numero_relatorio{position: absolute;right: 70px;top: 120px;font-size: 20px;font-weight: bold;text-align: center;}
#info_empresa {position: absolute;right: 70px;bottom: 120px;font-size: 15px;font-weight: bold;text-align: left;}

/* RELATORIO DO RESULTADO DA EMPRESA */

#empresa_resultado header h3 { bottom: 10px; color: #CC0000;  font-size: 20px; position: absolute; right: 30px;}
#empresa_resultado #Info p+p{margin-bottom: 5px}
#empresa_resultado #Info #tipo_gr{position: absolute; right: 40px; top: 90px;}
#empresa_resultado #Info #tipo_gr h1{ font-size: 90px;  font-weight: bold;text-align: center;}
/* cores definidas em config.php */
  #empresa_resultado #Info #tipo_gr h1.green{color: #008703}
  #empresa_resultado #Info #tipo_gr h1.bordeaux{color: #860000}
  #empresa_resultado #Info #tipo_gr h1.orange{color: #fe640a}
  #empresa_resultado #Info #tipo_gr h1.yellow{color: #ffff00}
  #empresa_resultado #Info #tipo_gr h1.dark_orange{color: #993100}
  #empresa_resultado #Info #tipo_gr h1.grey{color: #323232}
  #empresa_resultado #Info #tipo_gr h1.black{color: #000000}
  #empresa_resultado #Info #tipo_gr h1.light_green{color: #01ff02}
  #empresa_resultado #Info #tipo_gr h1.light_blue{color: #0064ff}    
/* ========= */
#empresa_resultado #Info #tipo_gr p{ font-size: 20px;   text-align: center;}
#empresa_resultado #Info #tipo_gr p#numero_gr{ color: #7070BF; margin-bottom: 30px; margin-top: -70px;}
#empresa_resultado #tabela_resultados{ display: table;  width: 100%;margin-top: 20px}
#empresa_resultado #tabela_resultados tr{}
#empresa_resultado #tabela_resultados td.coluna_esquerda{width: 35%; text-align: left;}
#empresa_resultado #tabela_resultados td.coluna_centro{width: 30%; text-align: center; border-left: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3;}
#empresa_resultado #tabela_resultados td.coluna_direita{width:35%;padding-left: 60px;}
#empresa_resultado #tabela_resultados td{width: 40%;padding-bottom: 10px;}

#empresa_resultado #Avaliacao{ margin-top: 20px; padding: 0;}
#empresa_resultado #Avaliacao > h2{ margin: 0;background: none repeat scroll 0 0 #84CB34;  color: #333333;  font-size: 16px;  padding: 10px;  text-align: center; text-transform: none;}
#empresa_resultado #Avaliacao table{width: 100%;}
#empresa_resultado #Avaliacao table tr{}
#empresa_resultado #Avaliacao table td{border: 1px solid #D3D3D3; padding: 7px 15px;}
#empresa_resultado #Avaliacao table td.primeira{width: 15%;}
#empresa_resultado #Avaliacao thead td.title{text-align: center;}
#empresa_resultado #Final table{margin-top:15px }
#empresa_resultado #Final table td{margin:5px 0 }
#empresa_resultado #Final .col_data{padding: 7px 60px;text-align: center;}
#empresa_resultado #Final .col_resp{text-align: center;}

#empresa_resultado #Fotos table{width: 100%}
#empresa_resultado #Fotos td{text-align: center;width: 50%;}